<h2>In honor of July 4th, we're giving $5 off!</h2>
<h1>Product List</h1>
<h3>Product Categories</h2>
<ul>
  <% @categories.each do |category| %>
    <li><a href="?category=<%= category.name %>"><%= category.name %></a></li>

  <% end %>


</ul>

<div class="row">
<% @products.each do |product| %>

<div class="col-md-3">
  <div><a href="products/<%= product.id %>"><%= product.name %></a>
  </div>
  	<p><%= product.description %></p>
  	<p><%= product.friendly_price %></p>
  	<img src="<%= product.photo %>" height="200" width="200"/>
    <% if user_signed_in? && current_user.admin? %>
  		<p><a href="products/<%= product.id %>/edit">Edit Item</a></p>
  		<p><a data-method="delete" href="/products/<%=product.id %>" rel="nofollow">Delete Item</a></p>
    <% end %>
  	</br>
  	</br>
  	</br>

  </p>
</div>

  	
<% end %>
</div>

<h1><a href="/products/new">Add Product</a></h1>
